<app-header></app-header>
  <br>
  <button routerLink="/add-employee" routerLinkActive="active" class="btn btn-primary" style="float:right">Add Employee</button>
  &nbsp;<br>
<table class="table">
    <thead class="thead-dark">
      <tr>
        <th scope="col">ID</th>
        <th scope="col">Name</th>
        <th scope="col">Surname</th>
        <th scope="col">Email</th>
        <th scope="col">Department</th>
        <th scope="col">Contact Number</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let employee of employees">
        <td>{{employee.id}}</td>
        <td>{{employee.name}}</td>
        <td>{{employee.lastName}}</td>
        <td>{{employee.email}}</td>
        <td>{{employee.department}}</td>
        <td>{{employee.contactNo}}</td>
        <td><a routerLink="/edit-employee" (click)="getId(employee.id)" routerLinkActive="active" class="btn btn-primary">Edit</a>|
          <a (click)="viewEmployee(employee.id)" routerLinkActive="active" class="btn btn-primary">View</a>|
          <button (click)="deleteEmployeeById(employee.id)" type="button" class="btn btn-danger">Delete</button></td>
      </tr>
      
    </tbody>
  </table>
<app-footer></app-footer>
  
  