<div class="card-body center">
    <h4 class="m-0">Are you sure?</h4><br>
    <p>Do you really want to delete this record? This process cannot be undone.</p>
     <!--TODO : Maybe add summary of data being removed-->
     <div class="card-body row">
      <div class="col-md-12">
            <label for="name" class="form-label info-identifier">First Name: </label>
            <label for="name" class="form-label info">{{employee.name}}</label><br>
          </div>
          <div class="col-md-12">
            <label for="lastName" class="form-label info-identifier">Last Name: </label>
            <label for="lastName" class="form-label info">{{employee.lastName}}</label><br>
          </div>
          <div class="col-md-12">
            <label for="email" class="form-label info-identifier">Email:</label>
            <label for="email" class="form-label info">{{employee.email}}</label><br>
          </div>

          <div class="col-md-12">
            <label for="contactNo" class="form-label info-identifier">Contact Number: </label>
            <label for="contactNo" class="form-label info">{{employee.contactNo}}</label><br>
          </div>
          <div class="col-md-12">
            <label for="department" class="form-label info-identifier">Department: </label>
            <label for="department" class="form-label info">{{employee.department}}</label><br>
          </div>
      <br>
    <div class="btn-actions">
     
      <button type="button" class="btn btn-danger delete-btn"  (click) = "confirmDelete(employee.id)" >
        <span class="button-text">Yes</span>
      </button>
      &nbsp;
      <button type="button" class="btn btn-primary delete-btn me-md-2" routerLink="/home" routerLinkActive="Active">
        <span class="button-text">No</span>
      </button>
    </div>
  </div>
</div>
